<div class="row" style="padding-top: 20px;">
  <div class="card w-75 border-success mx-auto" style="border-color: #66CC99">
    <div class="card-header bg-success" style="color: white;">
      <%= render 'shared/page_title_log', title: "Sign up" %>
    </div>
    <div class="card-body text-secondary">
      <div class="card-text">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
