<% obj.each do |recipe| %>
  <div class="card">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="chef_info col-md-1">
        <%= gravatar_for(recipe.chef, size: 120) %>
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5><%= link_to recipe.name, recipe_path(recipe) %></h5>
          <p><%= truncate(recipe.description, length: 150) %></p>
          <p><span class="quiet"><small>Created <%= time_ago_in_words(recipe.created_at) %> ago</small></span></p>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
<% end %>
