<footer class="container py-5">
  <div class="row pl-3">
    <div class="col-12 col-md">
      <small class="d-block text-muted pb-3"><%= copyright_generator %></small>
    </div>
    <div class="col-6 col-md offset-md-4">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>
