@import "bootstrap";

body {
  margin: 0;
  padding: 0;
  margin-top: 60px;
}

#logo {
  float: left;
  font-size: 1.5em;
  color: #451F10;
  // text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

#logo:hover {
  color: #459A00;
  text-decoration: none;
}

.jumbotron-fluid {
  background-color: rgba(0, 0, 0, .15);
  color: #fff;
  margin-top: 60px;
  background: no-repeat left asset-url('cover_image.png');
  height: auto;
}
