@import "bootstrap";

body {
  margin: 0;
  padding: 0;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  // text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron-fluid {
  background-color: rgba(0, 0, 0, .15);
  color: #fff;
  margin-top: 60px;
  background: no-repeat left/110% asset-url('cover_image.png');
  height: auto;
}
